@model IEnumerable<Dish>
@inject ICartService CartService

@{
    ViewData["Title"] = "Home Page";
}

@section Css{
    <link href="~/css/Home/home-index.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/Home/home-index.js"></script>
}

@if (@TempData["success"] != null)
{
    <span id="success-message" class="alert-success">@TempData["success"]</span>
}

<div class="row">
    <div class="col l8 m12 s12">
        <h5 class="center-align red-text text-lighten-1 text-uppercase">Menu</h5>
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a class="active" href="#pizza">Pizza</a></li>
            <li class="tab col s3"><a href="#pasta">Pasta</a></li>
            <li class="tab col s3"><a href="#sallad">Sallad</a></li>
        </ul>
        <div id="pizza" class="col s12">
            <div class="row">

                @foreach (var dish in Model.Where(dish => dish.CategoryId == 1))
            {
                    <div class="col m3 s6">
                        <div class="card">
                            <div class="card-image" style="background: url('@dish.ImageUrl') center / cover;">
                                <span class="card-title">@dish.Name</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    <b>Price: </b>@dish.Price
                                </p>
                                <p>
                                    <b>Description: </b>Lorem ipsum alto pervius
                                </p>
                                @if (dish.DishIngredients.Count > 0)
                                {
                                    <b>Ingredients: </b>

                                    @for (int i = 0; i < dish.DishIngredients.Count; i++)
                                    {
                                        if (i + 1 < dish.DishIngredients.Count)
                                        {
                                            <span>@dish.DishIngredients[i].Ingredient.Name, </span>
                                        }
                                        else
                                        {
                                            <span>@dish.DishIngredients[i].Ingredient.Name</span>
                                        }
                                    }
                                }

                            </div>
                            <div class="card-action">
                                <a asp-controller="Cart" asp-action="Add" asp-route-dishId="@dish.DishId" class="reload-cart btn-floating btn-small waves-effect waves-light red lighten-1">
                                    <i class="small material-icons">add_shopping_cart</i>
                                </a>
                                <b>&nbsp; Köp</b>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="pasta" class="col s12">

            @foreach (var dish in Model.Where(dish => dish.CategoryId == 2))
            {
                <div class="col m3 s6">
                    <div class="card">
                        <div class="card-image" style="background: url('@dish.ImageUrl') center / cover;">
                            <span class="card-title">@dish.Name</span>
                        </div>
                        <div class="card-content">
                            <p>
                                <b>Price: </b>@dish.Price
                            </p>
                            <p>
                                <b>Description: </b>Lorem ipsum alto pervius
                            </p>
                            @if (dish.DishIngredients.Count > 0)
                            {
                                <b>Ingredients: </b>

                                @for (int i = 0; i < dish.DishIngredients.Count; i++)
                                {
                                    if (i + 1 < dish.DishIngredients.Count)
                                    {
                                        <span>@dish.DishIngredients[i].Ingredient.Name, </span>
                                    }
                                    else
                                    {
                                        <span>@dish.DishIngredients[i].Ingredient.Name</span>
                                    }
                                }
                            }

                        </div>
                        <div class="card-action">
                            <a asp-controller="Cart" asp-action="Add" asp-route-dishId="@dish.DishId" class="reload-cart btn-floating btn-small waves-effect waves-light red lighten-1">
                                <i class="small material-icons">add_shopping_cart</i>
                            </a>
                            <b>&nbsp; Köp</b>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div id="sallad" class="col s12">

            @foreach (var dish in Model.Where(dish => dish.CategoryId == 3))
            {
                <div class="col m3 s6">
                    <div class="card">
                        <div class="card-image" style="background: url('@dish.ImageUrl') center / cover;">
                            <span class="card-title">@dish.Name</span>
                        </div>
                        <div class="card-content">
                            <p>
                                <b>Price: </b>@dish.Price
                            </p>
                            <p>
                                <b>Description: </b>Lorem ipsum alto pervius
                            </p>
                            @if (dish.DishIngredients.Count > 0)
                            {
                                <b>Ingredients: </b>

                                @for (int i = 0; i < dish.DishIngredients.Count; i++)
                                {
                                    if (i + 1 < dish.DishIngredients.Count)
                                    {
                                        <span>@dish.DishIngredients[i].Ingredient.Name, </span>
                                    }
                                    else
                                    {
                                        <span>@dish.DishIngredients[i].Ingredient.Name</span>
                                    }
                                }
                            }

                        </div>
                        <div class="card-action">
                            <a asp-controller="Cart" asp-action="Add" asp-route-dishId="@dish.DishId" class="reload-cart btn-floating btn-small waves-effect waves-light red lighten-1">
                                <i class="small material-icons">add_shopping_cart</i>
                            </a>
                            <b>&nbsp; Köp</b>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col l4 m12 s12">
        @{
            var total = 0;
        }
        <h5 class="center-align red-text text-lighten-1 text-uppercase">Beställning</h5>

        <ul class="collection cart">
            @if (CartService.GetCart().lineCollection.Count() < 1)
            {
                <li class="collection-item">
                    <blockquote>
                        <b>Varukorgen är tom</b>
                    </blockquote>
                </li>
            }


            @foreach (var cartItem in CartService.GetCart().lineCollection)
            {
                total += cartItem.Price;
                <li class="collection-item">
                    <blockquote>
                        <b>@cartItem.Name</b>, @cartItem.Price kr<br />
                        <a asp-controller="Cart" asp-action="Remove" asp-route-cartItemId="@cartItem.CartItemId" data-tooltip="Ta bort" data-position="bottom" data-delay="50" class="right tooltipped"><i class="material-icons red-text">delete</i></a>
                        <a onclick="myFunc('@cartItem.CartItemId')" class="modal-trigger right tooltipped" href="#cart-modal" data-tooltip="Modifiera" data-position="bottom" data-delay="50"><i class="material-icons teal-text">edit</i></a>
                       
                        @for (int i = 0; i < cartItem.Ingredients.Count(); i++)
                        {
                            if (i + 1 < cartItem.Ingredients.Count())
                            {
                                <span>@cartItem.Ingredients[i].Name, </span>
                            }
                            else
                            {
                                <span>@cartItem.Ingredients[i].Name</span>
                            }
                        }

                    </blockquote>

                </li>
            }
        </ul>

        <h5><b>Total: </b>@total kr</h5>
        <a asp-controller="Order" asp-action="Checkout" class="btn waves-effect waves-light red lighten-1">
            Betala
            <i class="material-icons right">credit_card</i>
        </a>
    </div>
</div>

<div id="cart-modal" class="modal modal-fixed-footer">

</div>

