@model IEnumerable<HultansPizzeria.Models.Ingredient>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col s3 offset-s4">
        <h2>Index</h2>
        <h5>
            <a asp-action="Create">Create New</a> | <a asp-controller="Admin" asp-action="Index">Back</a>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(i => i.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IngredientId">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.IngredientId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
