@model CheckoutViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject ICartService CartService

@{
    ViewData["Title"] = "Checkout";
}


@{
    ViewData["Title"] = "Home Page";
}

@section Css{
    <link href="~/css/Checkout/checkout.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/checkout/checkout.js"></script>
}


<div class="row">
    <div class="col l8 m12 s12">
        <div class="container">

            @if (!SignInManager.IsSignedIn(User))
            {
              
                    Html.RenderPartial("_CheckoutLoginPartial", Model.LoginViewModel);
                


                <div class="row collection">
                    <form asp-controller="Order" asp-action="Checkout" method="post">
                        <h5 class="center-align red-text text-lighten-1">Eller fortsätt som gäst</h5>
                        <blockquote>
                            <b>Leveranssätt</b>
                        </blockquote>
                        <p>
                            <input required name="DeliveryMethod" type="radio" id="home" value="Hem" />
                            <label for="home">Hemleverans</label>
                        </p>
                        <p>
                            <input required name="DeliveryMethod" type="radio" id="collect" value="Hämta" />
                            <label for="collect">Avhämtning</label>
                        </p>

                        <blockquote>
                            <b>Leveransuppgifter</b>
                        </blockquote>

                        <div class="row">
                            <div class="input-field col s6">
                                <input minlength="6" maxlength="100" asp-for="Address" class="validate">
                                <label asp-for="Address">Adress</label>
                            </div>
                            <div class="input-field col s6">
                                <input min="0" max="9999" asp-for="ApartmentNumber" type="text" class="validate">
                                <label asp-for="ApartmentNumber">Lgh.nr.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input min="0" max="99" asp-for="Floor" class="validate">
                                <label asp-for="Floor">Våning</label>
                            </div>
                            <div class="input-field col s6">
                                <input min="0" max="9999" asp-for="EntryCode" class="validate">
                                <label asp-for="EntryCode">Portkod</label>
                            </div>
                        </div>

                        <blockquote>
                            <b>Betalningssätt</b>
                        </blockquote>

                        <p class="valign-wrapper">
                            <input required name="PaymentMethod" type="radio" id="mastercard" value="mastercard" />
                            <label for="mastercard">
                                <img data-tooltip="Mastercard" data-position="bottom" data-delay="50" class="tooltipped" src="~/images/mastercard.jpg" style="height: 100%;" />
                            </label>
                        </p>
                        <p class="valign-wrapper">
                            <input required name="PaymentMethod" type="radio" id="visa" value="visa" />
                            <label for="visa">
                                <img data-tooltip="Visa" data-position="bottom" data-delay="50" class="tooltipped" src="~/images/visa.jpg" style="height: 100%;" />
                            </label>
                        </p>

                        <div class="center-align">
                            <button class="btn waves-effect waves-light red lighten-1" type="submit">
                                Skicka beställning
                            </button>
                        </div>

                    </form>

                </div>
            }
            else
            {
                <div class="row collection">
                    <form asp-controller="Order" asp-action="Checkout" method="post">
                        <h5 class="center-align red-text text-lighten-1">Beställer som @Model.User.FirstName @Model.User.LastName</h5>
                        <blockquote>
                            <b>Leveranssätt</b>
                        </blockquote>
                        <p>
                            <input required name="DeliveryMethod" type="radio" id="home" value="Hem" />
                            <label for="home">Hemleverans</label>
                        </p>
                        <p>
                            <input required name="DeliveryMethod" type="radio" id="collect" value="Hämta" />
                            <label for="collect">Avhämtning</label>
                        </p>

                        <blockquote>
                            <b>Leveransuppgifter</b>
                        </blockquote>

                        <div class="row">
                            <div class="input-field col s6">
                                <input minlength="6" maxlength="100" required asp-for="Address" type="text" class="validate" value="@Model.User.Address">
                                <label asp-for="Address">Adress</label>
                            </div>
                            <div class="input-field col s6">
                                <input min="0" max="9999" required asp-for="ApartmentNumber" type="text" class="validate" value="@Model.User.ApartmentNumber">
                                <label asp-for="ApartmentNumber">Lgh.nr.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input required min="0" max="99" asp-for="Floor" class="validate" value="@Model.User.Floor">
                                <label asp-for="Floor">Våning</label>
                            </div>
                            <div class="input-field col s6">
                                <input min="0" max="9999" asp-for="EntryCode" class="validate" value="@Model.User.EntryCode">
                                <label asp-for="EntryCode">Portkod</label>
                            </div>
                        </div>

                        <blockquote>
                            <b>Betalningssätt</b>
                        </blockquote>

                        <p class="valign-wrapper">
                            <input required name="PaymentMethod" type="radio" id="mastercard" value="Mastercard" />
                            <label for="mastercard">
                                <img data-tooltip="Mastercard" data-position="bottom" data-delay="50" class="tooltipped" src="~/images/mastercard.jpg" style="height: 100%;" />
                            </label>
                        </p>
                        <p class="valign-wrapper">
                            <input required name="PaymentMethod" type="radio" id="visa" value="Visa" />
                            <label for="visa">
                                <img data-tooltip="Visa" data-position="bottom" data-delay="50" class="tooltipped" src="~/images/visa.jpg" style="height: 100%;" />
                            </label>
                        </p>

                        <div class="center-align">
                            <button class="btn waves-effect waves-light red lighten-1" type="submit">
                                Skicka beställning
                            </button>
                        </div>

                    </form>

                </div>
            }


        </div>
    </div>

    <div class="col l4 m12 s12">
     
        @{ 
            Html.RenderPartial("_CheckoutCartPartial", CartService.GetCart());
        }
       
    </div>
</div>

