@model CheckoutViewModel
@inject ICartService CartService
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "Checkout";
}


@{
    ViewData["Title"] = "Home Page";
}

@section Css{
    <link href="~/css/Checkout/checkout.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/checkout/checkout.js"></script>
}


<div class="row">
    <div class="col l8 m12 s12">
        <div class="container">

            @if (!SignInManager.IsSignedIn(User) || Model.User == null)
            {
                <div class="row collection">
                    <h5 class="center-align red-text text-lighten-1">Logga in</h5>
                    <h6 class="center-align">Logga in för att få rabatter på dina beställningar</h6>
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input asp-for="@Model.Email" name="Email" class="validate">
                                <label asp-for="@Model.Email">Användarnamn</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input asp-for="@Model.Email" name="Password" type="password" class="validate">
                                <label asp-for="@Model.Email">Lösenord</label>
                            </div>
                        </div>
                        <div class="center-align">
                            <button class="btn waves-effect waves-light red lighten-1" type="submit">
                                Logga in
                            </button>
                        </div>
                    </form>
                </div>

                <div class="row collection">
                    <form action="#">
                        <h5 class="center-align red-text text-lighten-1">Fortsätt som gäst</h5>
                        <blockquote>
                            <b>Leveranssätt</b>
                        </blockquote>
                        <p>
                            <input required name="group1" type="radio" id="test1" />
                            <label for="test1">Hemleverans</label>
                        </p>
                        <p>
                            <input required name="group1" type="radio" id="test2" />
                            <label for="test2">Avhämtning</label>
                        </p>

                        <blockquote>
                            <b>Leveransuppgifter</b>
                        </blockquote>

                        <div class="row">
                            <div class="input-field col s6">
                                <input required id="adress" type="text" class="validate">
                                <label for="adress">Adress</label>
                            </div>
                            <div class="input-field col s6">
                                <input required id="apartment_number" type="text" class="validate">
                                <label for="apartment_number">Lgh.nr.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="stair_level" type="text" class="validate">
                                <label for="stair_level">Våning</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="door_code" type="text" class="validate">
                                <label for="door_code">Portkod</label>
                            </div>
                        </div>

                        <blockquote>
                            <b>Betalningssätt</b>
                        </blockquote>

                        <p>
                            <input required name="payment" type="radio" id="mastercard" />
                            <label for="mastercard">MasterCard</label>
                        </p>
                        <p>
                            <input required name="payment" type="radio" id="visa" />
                            <label for="visa">Visa</label>
                        </p>

                        <div class="center-align">
                            <button class="btn waves-effect waves-light red lighten-1" type="submit">
                                Skicka beställning
                            </button>
                        </div>

                    </form>

                </div>
            }
            else
            {
                <div class="row collection">
                    <form action="#">
                        <h5 class="center-align red-text text-lighten-1">Beställer som @Model.User.FirstName @Model.User.LastName</h5>
                        <blockquote>
                            <b>Leveranssätt</b>
                        </blockquote>
                        <p>
                            <input required name="group1" type="radio" id="test1" />
                            <label for="test1">Hemleverans</label>
                        </p>
                        <p>
                            <input required name="group1" type="radio" id="test2" />
                            <label for="test2">Avhämtning</label>
                        </p>

                        <blockquote>
                            <b>Leveransuppgifter</b>
                        </blockquote>

                        <div class="row">
                            <div class="input-field col s6">
                                <input required id="adress" type="text" class="validate" value="@Model.User.Address">
                                <label for="adress">Adress</label>
                            </div>
                            <div class="input-field col s6">
                                <input required id="apartment_number" type="text" class="validate" value="@Model.User.ApartmentNumber">
                                <label for="apartment_number">Lgh.nr.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="stair_level" type="text" class="validate" value="@Model.User.Floor">
                                <label for="stair_level">Våning</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="door_code" type="text" class="validate" value="@Model.User.EntryCode">
                                <label for="door_code">Portkod</label>
                            </div>
                        </div>

                        <blockquote>
                            <b>Betalningssätt</b>
                        </blockquote>

                        <p>
                            <input required name="payment" type="radio" id="mastercard" />
                            <label for="mastercard">MasterCard</label>
                        </p>
                        <p>
                            <input required name="payment" type="radio" id="visa" />
                            <label for="visa">Visa</label>
                        </p>

                        <div class="center-align">
                            <button class="btn waves-effect waves-light red lighten-1" type="submit">
                                Skicka beställning
                            </button>
                        </div>

                    </form>

                </div>
            }


        </div>
    </div>

    <div class="col l4 m12 s12">
        @{
            var total = 0;
        }
        <h5 class="center-align red-text text-lighten-1 text-uppercase">Beställning</h5>

        <ul class="collection cart">
            @if (CartService.GetCart().lineCollection.Count() < 1)
            {
                <li class="collection-item">
                    <blockquote>
                        <b>Varukorgen är tom</b>
                    </blockquote>
                </li>
            }


            @foreach (var cartItem in CartService.GetCart().lineCollection)
            {
                total += cartItem.Price;
                <li class="collection-item">
                    <blockquote>
                        <b>@cartItem.Name</b>, @cartItem.Price kr<br />

                        @for (int i = 0; i < cartItem.Ingredients.Count(); i++)
                        {
                            if (i + 1 < cartItem.Ingredients.Count())
                            {
                                <span>@cartItem.Ingredients[i].Name, </span>
                            }
                            else
                            {
                                <span>@cartItem.Ingredients[i].Name</span>
                            }
                        }

                    </blockquote>

                </li>
            }
        </ul>

        <h5><b>Total: </b>@total kr</h5>
    </div>
</div>

