@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HultansPizzeria</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/lib/materialize/dist/css/materialize.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Css", required: false)


    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <ul id="user-dropdown" class="dropdown-content">
        <li><a asp-controller="Manage" asp-action="Index"><i class="material-icons left">settings</i>Konto</a></li>
        @if (User.IsInRole("Admin"))
        {
            <li><a asp-controller="Admin" asp-action="Index"><i class="material-icons left">vpn_key</i>Admin</a></li>
        }
    </ul>

    <nav>
        <div class="nav-wrapper red lighten-1  main-nav">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="brand-logo">Hultans</a>
                <a href="#" data-activates="side-navbar" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a class="dropdown-button" href="#!" data-activates="user-dropdown"><i class="material-icons left">person</i>@User.Identity.Name</a></li>
                        <li>
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button class="waves-effect waves-light btn" type="submit">Logga ut</button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li><a class="waves-effect waves-light btn" asp-controller="Account" asp-action="Login">Logga in</a></li>

                    }
                </ul>
                <ul class="side-nav" id="side-navbar">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="teal-text center"><b>@User.Identity.Name</b></li>
                        <li><a asp-controller="Manage" asp-action="Index"><i class="material-icons left">settings</i>Konto</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a asp-controller="Admin" asp-action="Index"><i class="material-icons left">vpn_key</i>Admin</a></li>
                            }
                            <li>
                                <form class="mobile-logout" asp-controller="Account" asp-action="Logout" method="post">
                                    <button class="waves-effect waves-light btn" type="submit">Logga ut</button>
                                </form>
                            </li>

                    }
                    else
                    {
                        <li><a class="waves-effect waves-light btn" asp-controller="Account" asp-action="Login">Logga in</a></li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-content">
        @RenderBody()
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
